#
# Copyright 2022 SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0
#

[Unit]
Description=Edgehog Device Runtime daemon
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target
# For development, keep restarting to wait for the platform to come online
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="RUST_LOG=debug"
Environment="EDGEHOG_SYSTEM_SERIAL_NUMBER=EDGEHOG_SERIAL_NUMBER"
Environment="EDGEHOG_SYSTEM_PART_NUMBER=EDGEHOG_PART_NUMBER"
ExecStart=/usr/bin/edgehog-device-runtime -c /etc/edgehog/edgehog-device-runtime-config.toml
Restart=on-failure
# Avoid restarting too quickly
RestartSec=2

[Install]
WantedBy=multi-user.target
